<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Manuel Dias">
    <link rel="icon" type="image/jpeg" href="./img/Sapolas.png"/>
    <meta name="description" content="Página Pessoal">

    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>Portfolio Manuel Dias - Audiovisual</title>
</head>
<body>
    <header>
        <div class="flex-container">
            <a href="../index.html">
                <img class="logo" src="../img/Sapolas.png" alt="Logo" />
            </a>
            <h1 class="name">Manuel Dias</h1>
            <nav class="naveg"  id="myNaveg">
                    <ul class="flex-container">
                        <li><a href="../index.html" class="menu">Principal</a></li>
                        <li><a href="bio.html" class="menu">Biografia</a></li>
                        <li><a href="audivisual.html" class="menu select">Audiovisual</a></li>
                        <li><a href="web.html" class="menu">Web</a></li>
                        <li><a href="contactos.html" class="menu">Contactos</a></li>
                        <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i></a>
                        </li>
                    </ul>
            </nav>
        </div> <!--end flex-container (header)-->
    </header>

    <div class="flex-container">
        <video id="filme" src="" controls></video>
        <ul class="listaFilmes">
            <h5 class="meusTrabalhos">Trabalhos:</h5>
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/DiaMau.mp4'">Dia Mau</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/DarkCalling.mp4'">Dark Calling</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/GenericoTV.mp4'">Genérico de TV</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/HouseAnimation.mp4'">House Animation</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/KingQuest.mp4'">King's Quest</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/LaPetiteMort.mp4'">La Petite Mort</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/LisboaMisteriosa.mp4'">Lisboa Misteriosa</button>
            </li>
            
            <li class="lista">
                <button class="av" onclick="document.getElementById('filme').src='../Videos/LisbonVillageFestival.mp4'">Lisbon Village Festival</button>
            </li>
        </ul>
    </div> <!--end flex-container (body)-->

    <script>
        function myFunction() {
        let x = document.getElementById("myNaveg");
        if (x.className === "naveg") {
            x.className += " responsive";
        } else {
            x.className = "naveg";
        }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> 
    <script src="../scripts/main.js"></script>
    <script src="../scripts/audiovi.js"></script>
</body>
</html>