<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> 
    <title>Portfolio Manuel Dias - Main</title>
</head>
<body>
    <header>
        <div class="flex-container">
            <a href="index.html">
                <img class="logo" src="../img/Sapolas.png" alt="Logo" />
            </a>
            <h1 class="name">Manuel Dias</h1>
            <nav class="naveg">
                    <ul class="flex-container">
                        <li><a href="index.html" class="menu select">Principal</a></li>
                        <li><a href="bio.html" class="menu">Biografia</a></li>
                        <li><a href="audivisual.html" class="menu">Audiovisual</a></li>
                        <li><a href="web.html" class="menu">Web</a></li>
                        <li><a href="contactos.html" class="menu">Contactos</a></li>
                    </ul>
            </nav>
        </div> <!--end flex-container (header)-->
    </header>

    <div class="flex-container">
        <section class="bioIntro">
            <h4>NOME COMPLETO:</h4>
            <br>
            <h5>Manuel Loureiro Vasconcelos Dias</h5>
            <br>
            <br>
            <br>
            <h4>DATA DE NASCIMENTO:</h4>
            <br>
            <h5>26 de Agosto de 1985 (<a id="age" onload="idade()"></a>)</h5>
            <br>
            <br>
            <br>
            <h4>NACIONALIDADE:</h4>
            <br>
            <h5>Portuguesa</h5>
            <br>
            <br>
            <br>
            <h4>NATURALIDADE:</h4>
            <br>
            <h5>Lisboa</h5>
            <a class="verMais Bio" href="bio.html">Ver Mais</a>
        </section> <!-- End bioIntro -->
        
        <br>
        
        <section class="audivisualIntro">
                <div id="slides" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#slides" data-slide-to="0" class="active"></li>
                            <li data-target="#slides" data-slide-to="1"></li>
                            <li data-target="#slides" data-slide-to="2"></li>
                            <li data-target="#slides" data-slide-to="3"></li>
                            <li data-target="#slides" data-slide-to="4"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/Sapo.jpg">
                            </div> <!--end carousel-item active-->
                            <div class="carousel-item">
                                <img src="../img/Dvd.jpg">
                            </div> <!--end carousel-item-->
                            <div class="carousel-item">
                                <img src="../img/Mouse.jpg">
                            </div> <!--end carousel-item-->
                            <div class="carousel-item">
                                <img src="../img/Phones.jpg">
                            </div><!--end carousel-item-->
                            <div class="carousel-item">
                                <img src="../img/Casa.jpg">
                            </div><!--end carousel-item-->
                        </div> <!--end carousel-inner-->
                    </div> <!--end carousel slide-->  
                    <a class="verMais Audiovisual" href="audivisual.html">Ver Mais</a>       
        </section> <!-- End audivisualIntro -->
    
        <section class="webIntro">
            <img class="logos" src ="../img/Logotipos.jpg" alt="Logos">
            <a class="verMais Web" href="web.html">Ver Mais</a>
        </section> <!-- End web -->
    </div> <!-- End flex-container -->
    
 
    <script src="../scripts/main.js"></script>
</body>
</html>