
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

*,*:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

input[type=checkbox]
{
  -ms-transform: scale(3);
  -moz-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3); 
  transform: scale(3);
  align-content: center;
  
}

.self-clear:before, .self-clear:after{
    content:"";
    display:table;
} 

.self-clear:after{
    clear: both;
}

.self-clear{
    *zoom:1;
}

html{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}

h1{
    font-family: 'Chilanka', cursive;
    font-size: 18.2rem;
    color: #1c6b02;
}

h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color: #fff;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #fff;
}

h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
}

h6{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #fff;
}

p{
    font-size: 2rem;
    color: #fff;
}

.container{
    /* padding: 1.875rem 1.25rem 1.875rem 1.25rem; */
    max-width: 120rem;
    margin: 0 auto;
}

img, video, object{
    max-width: 100%;
    height: auto;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;

    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    max-width:120rem;
    margin: 0 auto;
}

.verMais{
    display: block;
    font-size:2.5rem;
    text-align: center;
    padding: 0.2rem;
    margin-top: 1rem;    
    margin-left: 90%;
    border-radius:6%;
    color:black;
    background-color: #175303;    
}

.verMais:hover{
    color:rgba(243, 243, 243, 0.952);
    background-color: #113f02;
    text-decoration: none;   
}

.anterior{
    display: block;
    font-size:2.5rem;
    text-align: center;
    padding:0.2rem;
    margin-top: 1rem;    
    margin-left: 90%;
    border-radius:6%;
    color:black;
    background-color: #175303;    
}

.anterior:hover{
    color:rgba(243, 243, 243, 0.952);
    background-color: #113f02;
    text-decoration: none;   
}

/*------------------------------------------------------------------------------------------------------------------------------------------------HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.logo{
    flex: auto;
    margin-bottom: 0.625rem;
    margin-top: 0.8125rem;
    width: 8.9rem;
}
.name{
    font-size: 19.57rem;
    margin-top: 0.9375rem;
    padding-left: 1.25rem;
    flex: auto;   
}

.naveg{
    margin-top: -7rem;
    margin-bottom: -5.3125rem;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: center;
}

.naveg ul{
    padding: 0rem 1.25rem 0.9375rem 1.25rem;
    justify-content: center;
    list-style: none;
}

.naveg ul li{
    padding: 0.2rem 1rem;
}

.naveg li a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.3rem;
    padding-left: 0.8rem;
    padding-right: 0.3rem;
    color:#1c8d02;
    margin-right: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.naveg li:last-child{
    border-right: none;
}

.naveg a.select {
    background-color: #1c4e02;
    color: #c2dbbc;
}

.naveg li a:hover {
    background-color: #9b3a3a;
    color: #c2dbbc;
}

.naveg a.icon {
    display: none;
}

/*------------------------------------------------------------------------------------------------------------------------------------------BIO-INTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bioIntro{
    flex: auto;
    padding-top: 0.625rem;
    text-align: center;
}

.bioIntro h4{
    color: #deeed9;
    text-shadow: 0.22rem 0.22rem rgb(0, 0, 0), 0.3rem 0.3rem rgb(55, 99, 35);    
}

.idade{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------AUDIOVISUAL-INTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.audivisualIntro{
    flex: auto;
    padding-top: 1.3rem;
    text-align: center;
}

.carousel-inner{
    width: 85%;
    height: 85%;
}

.carousel-indicators{
    color:white;
}

/*----------------------------------------------------------------------------------------------------------------------------------------WEB-INTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.logos{
    width: 80%;
    height: 80%;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------BIOGRAFIA-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.container-bio{
    max-width: 75rem;
    margin: auto;
}

.arrow {
    width: 0rem;
    height: 0rem;
    border: solid rgb(129, 129, 129);
    border-width: 0 0.8rem 0.8rem 0;
    display: inline-block;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    margin-left:1rem;
    transform: translateY(2rem) rotate(180deg);
    -webkit-transform: translateY(0rem) rotate(45deg);
    transition: all .3s;
}


.item{
    flex: auto;
    padding: 0.7rem;
    color: #fff;
    cursor: pointer;
}

.itemTitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    background: #0b3b00;
}

.texto {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    background:  black;
    color: #fff;
} 

.texto p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    background:  black;
    color: #fff;
}

/*------------------------------------------------------------------------------------------------------------------------------------------AUDIOVISUAL----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#filme{
    width: 70.5rem;
    height: auto;  
    margin: auto;
    text-align: center;
}

.meusTrabalhos{
    font-size: 280%;
    font-weight: bold;
    color:#adadad
}

.lista{
    font-size: 50%;
}

.listaFilmes{
    margin-top: 1.875rem;
    padding: 0rem 1.25rem 1.875rem 1.25rem;
    justify-content: center;
}

.av{
    background-color: black;
   
    color: #1c6b02;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    border: none;
    cursor: pointer; 
}

/*------------------------------------------------------------------------------------------------------------------------------------------WEB------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.trabalhosWeb{
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 8rem;
    color: #1c6b02;
    text-align: center;
    margin-bottom: 25px;
}

.traballho{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
    text-align: center;
    color:#1c8d02;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.traballho:hover {
    color: #771313;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- CONTACTOS ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contactos{
    margin: auto;
    color:#1c8d02;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5rem;
}

.info{
    color: #fff;
    margin-bottom: 1.2rem;
    margin-left: 11rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
}

.redes{
    align-content: center;
    margin: 1rem;
    width: 6%;
    transition: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------- TO DO LIST ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#myInput {
    padding: 1rem;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 28rem;
    margin-bottom: 1.5rem;
    background-color: rgb(219, 219, 250);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 300%;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 30px;
}

#butt {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 250%;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 50px;
    margin-bottom: 30px;
    background-color: #175303;
    color:white;
    cursor: pointer;
}

#butt:hover{
    color:rgba(243, 243, 243, 0.856);
    background-color: #113f02;
    
}

li {
    margin-bottom: 0.625rem;
    font-size: 500%;
    font-family: Verdana, Tahoma, sans-serif;
    color:#ffffff;
}

.listatarefas {
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    color: #1c6b02;
    text-align: center;
}

p {
    font-size: 1.1rem;
    color: #1c6b02;
}

#list {
    margin-top: -8rem;
    font-size: 1.8rem;
    text-align: center;
    transform: scale(0.5);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------CALCULADORA--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.container-calculator{
    max-width: 100%;
    margin-left:57rem;
    
}

.flex-container-calculator{
    display: flex;
    flex-flow: row wrap;

    padding: 2rem 1.6rem 2rem 1.6rem;
    max-width: 70rem;
    margin: 0 auto;
}

.mostrador{
    width: 65rem;
    height: 5rem;
    margin-left: -22.5rem;
    text-align: right;
    background-color: rgb(219, 219, 250);
    font-family:'Noto Sans KR', sans-serif;
    font-size: 300%;
    font-weight: bold;
    border:none;
}

#input{
    border-radius: 1.4rem 1.4rem 0px 0px;
    box-shadow: 0.2rem 0.2rem 0.2rem #c2dbbc;
}

#resposta{
    border-radius: 0px 0px 1.4rem 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #c2dbbc;
    color: #1e7700;
}
.botao{
	height: 6rem;
	box-sizing: border-box;
    background-color: #175a00;
    bottom: 10px;
    color: #c2dbbc;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5rem;
    cursor: pointer; 
    text-decoration: none;
    border-radius: 2%;

    margin-right: 0.9rem;
    margin-bottom: 0.625rem;
    flex: 30%;
    border: none;
}

.botao:hover {
    background-color: #771313;
    color: #c2dbbc;
    box-shadow: 0.2rem 0.2rem hsla(0, 72%, 27%, 0.5);
}

.botao:active {
    box-shadow: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------- RESPONSIVE ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {

    h4{
        font-size: 5rem;
    }
    
    h5{
        font-size: 4rem;
    }
    
    h6{
        font-size: 3rem;
    }
    
    p{
        font-size: 2rem;
    }

    .verMais{
        font-size:2.5rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 88%;  
    }

    .logo{
        margin-bottom: 0.625rem;
        margin-top: 0.8125rem;
        width: 8.4rem;
    }

    .name{
        font-size: 16.8rem;
        margin-top: 1.5rem;
        padding-left: 1.25rem;
    }
    
    .naveg{
        margin-top: -5rem;
        margin-bottom: -5.3125rem;
    }
    
    .naveg ul li{
        padding: 0.2rem 1rem;
    }
    
    .naveg li a{
        font-size: 3.3rem;
        padding-left: 0.8rem;
        padding-right: 0.3rem;
        margin-right: 0.125rem;
    }
    
    .bioIntro{
        padding-top: 0.625rem;
    }
    
    .bioIntro h4{
        text-shadow: 0.22rem 0.22rem rgb(0, 0, 0), 0.3rem 0.3rem rgb(55, 99, 35);    
    }
    
    .idade{
        font-size: 3rem;
    }

    .audivisualIntro{
        padding-top: 30px;
    }

    .logos{
        width: 90%;
        height: 90%;
        padding-top: 20px;
    }
    
    .container-bio{
        max-width: 75rem;

    }
    
    .arrow {
        width: 0rem;
        height: 0rem;
        border-width: 0 0.4rem 0.4rem 0;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left:0.5rem;
    }
    
    .item{
        margin-top:-2rem;
        margin-bottom: 1.5rem;
        padding: 0.4rem;
    }
    
    .itemTitle{
        font-size: 2.5srem;
    }
    
    .texto p{
        font-size: 2.2rem;
    }

    #filme{
        margin-top: 1rem;
    }
    
    .meusTrabalhos{
        font-size: 200%;
    }
    
    .lista{
        font-size: 30%;
    }
    
    .listaFilmes{
        margin-top: 2rem;
    }
    
    .av{
        font-size: 1.7rem;
    }

    .trabalhosWeb{
        font-size: 7rem;
        margin-bottom: 25px;
    }

    .traballho{
        font-size: 4rem;
        margin-bottom: 15px;
    }

    .listatarefas {
        margin-top: -3rem;
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .Lista {
        font-size:2.5rem;
        padding: 0.2rem;
        margin-top: 3rem;    
        margin-left: 88%;  
    }

    #myInput {
        padding: 1rem;
        margin: auto;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-left: 22rem;
        margin-bottom: 1.5rem;
        font-size: 300%;
    }
    
    #butt {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        font-size: 250%;
    }
    
    li {
        margin-bottom: 0.625rem;
        font-size: 450%;
    }
    
    .listatarefas {
        margin-top:3rem;
        font-size: 7rem;
    }
    
    p {
        font-size: 1.1rem;
    }
    
    #list {
        margin-top: -8rem;
        font-size: 1.8rem;
        transform: scale(0.5);
    }

    .container-calculator{
        max-width: 100%;
        margin-left:57rem;
        
    }
    
    .flex-container-calculator{
        padding: 2rem 1.6rem 2rem 1.6rem;
        max-width: 70rem;
    }
    
    .mostrador{
        width: 65rem;
        height: 5rem;
        margin-left: -39rem;
        font-size: 300%;
        margin-top: 3rem;
    }

    #input{
        border-radius: 1.4rem 1.4rem 0px 0px;
    }
    
    #resposta{
        border-radius: 0px 0px 1.4rem 1.4rem;
        margin-top: -0.5rem;

    }
    .botao{
        height: 6rem;
        bottom: 10px;
        font-size: 3.5rem;    
        margin-right: 0.9rem;
        margin-bottom: 0.625rem;
    }

    .Apagar {
        font-size: 3.5rem;
    }

    .Parenteses{
        font-size: 3.5rem;
    }

    .Calc {
        font-size: 200%;
        padding:0.5rem;
        margin-top: 1rem;    
        margin-left: 86.5%;
    }

    .contactos{
        font-size: 5rem;
    }
    
    .info{
        margin-bottom: 1.2rem;
        margin-left: 11rem;
        font-size: 4rem;
    }
    
    .redes{
        margin: 1rem;
        width: 7%;
    }
}

@media screen and (max-width: 768px) { 
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 375px) { 
    h4{
        font-size: 2.8rem;
    }
    
    h5{
        font-size: 2rem;
    }
    
    h6{
        font-size: 1rem;
    }
    
    p{
        font-size: 0.5rem;
    }
   
    .verMais{
        font-size:1.5rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 80%;  
    }

    .logo{
        margin-bottom: 0.625rem;
        margin-top: 0.5rem;
        width: 3rem;
    }

    .name{
        font-size: 6rem;
        margin-top: 0.8rem;
        padding-left: 0rem;
    }

    .naveg{
        margin-top: -3.5rem;
        margin-bottom: -2rem;
    }
    
    .naveg ul li{
        padding: 0.2rem 1rem;
        margin-bottom: -1.8rem;
    }
    
    .naveg li a{
        font-size: 2.3rem;
        margin-right: 0rem;
    }

    .bioIntro{
        padding-top: 0.625rem;
    }
    
    .bioIntro h4{
        text-shadow: 0.22rem 0.22rem rgb(0, 0, 0), 0.3rem 0.3rem rgb(55, 99, 35);
        margin-bottom: -1rem;    
    }
    
    .idade{
        font-size: 3rem;
    }

    .audivisualIntro{
        padding-top: 1rem;
    }

    .logos{
        width: 90%;
        height: 90%;
        padding-top: 1rem;
    }

    .container-bio{
        max-width: 75rem;
    }
    
    .arrow {
        width: 0rem;
        height: 0rem;
        border-width: 0 0.6rem 0.6rem 0;
        padding: 0.8rem;
        margin-bottom: 0.4rem;
        margin-left:0.3rem;
    }
    
    .item{
        margin-top:-1rem;
        margin-bottom: 0.6rem;
        padding: 0.4rem;
    }
    
    .itemTitle{
        font-size: 2.25rem;
    }
    
    .texto p{
        font-size: 1.6rem;
    }

    #filme{
        margin-top: 0.6rem;
    }
    
    .meusTrabalhos{
        font-size: 200%;
    }
    
    .lista{
        font-size: 30%;
    }
    
    .listaFilmes{
        margin-top: 1.8rem;
    }
    
    .av{
        font-size: 1.8rem;
    }

    .trabalhosWeb{
        font-size: 3.5rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    .traballho{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .listatarefas {
        margin-top: 3rem;
        font-size: 3.5rem;
        margin-bottom: -1rem;
    }

    .Lista {
        font-size:1.8rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 78%;  
    }

    #myInput {
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 0.8rem;
        margin-left: 2.9rem;
        margin-bottom: 1.5rem;
        font-size: 180%;
    }
    
    #butt {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        font-size: 150%;
    }
    
    li {
        margin-bottom: 0.625rem;
        font-size: 450%;
    }
    
    p {
        font-size: 1.1rem;
    }
    
    #list {
        margin-top: -8rem;
        font-size: 1.5rem;
        text-align: center;
        transform: scale(0.4);
    }

    .container-calculator{
        max-width: 100%;
        margin-left:20rem;
        
    }
    
    .flex-container-calculator{
        padding: 2rem 1.6rem 2rem 1.6rem;
        max-width: 70rem;
        margin: 0 auto;
    }
    
    .mostrador{
        width: 33rem;
        height: 3rem;
        margin-left: -18.5rem;
        font-size: 250%;
        margin-top: 3rem;
    }

    #input{
        border-radius: 1.4rem 1.4rem 0px 0px;
        padding-right: 0.5rem;
    }
    
    #resposta{
        border-radius: 0px 0px 1.4rem 1.4rem;
        margin-top: -0.1rem;
        padding-right: 0.5rem;

    }
    .botao{
        height: 4rem;
        bottom: 10px;
        font-size: 2.8rem;    
        margin-right: 0.9rem;
        margin-bottom: 0.625rem;
    }

    .Apagar {
        font-size: 2.5rem;
    }

    .Parenteses{
        font-size: 2.5rem;
    }

    .Calc {
        font-size:1.8rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 78%; 
    }

    .contactos{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: -2rem;
        font-size: 3rem;
    }
    
    .info{
        margin-bottom: 0.5rem;
        margin-left: 5rem;
        font-size: 2.2rem;
    }
    
    .redes{
        margin: 0.50rem;
        margin-top: -2rem;
        width: 15%;
    }
}

@media screen and (max-width: 360px) { 
    .logo{
        margin-bottom: 0.625rem;
        margin-top: 1.2rem;
        width: 2.5rem;
    }

    .name{
        font-size: 5rem;
        margin-top: 1.5rem;
        padding-left: 0rem;
    }
}

@media screen and (max-width: 320px) {
    h4{
        font-size: 3rem;
    }
    
    h5{
        font-size: 2rem;
    }
    
    h6{
        font-size: 1rem;
    }
    
    p{
        font-size: 0.5rem;
    }

    .verMais{
        font-size:1.5rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 75%;  
    }

    .logo{
        margin-bottom: 0.625rem;
        margin-top: 1.2rem;
        width: 2.5rem;
    }

    .name{
        font-size: 5rem;
        margin-top: 1.5rem;
        padding-left: 0rem;
    }
    
    .naveg{
        margin-top: -3rem;
        margin-bottom: -2rem;
    }
    
    .naveg ul li{
        padding: 0.2rem 1rem;
        margin-bottom: -0rem;
    }
    
    .naveg li a{
        font-size: 2.8rem;
        padding-left: 0.8rem;
        padding-right: 0.3rem;
        margin-right: 0.125rem;
    }
    
    .bioIntro{
        padding-top: 0.625rem;
    }
    
    .bioIntro h4{
        text-shadow: 0.22rem 0.22rem rgb(0, 0, 0), 0.3rem 0.3rem rgb(55, 99, 35);
        margin-bottom: -1rem;    
    }
    
    .idade{
        font-size: 3rem;
    }

    .audivisualIntro{
        padding-top: 1rem;
    }

    .logos{
        width: 90%;
        height: 90%;
        padding-top: 1rem;
    }
    
    .container-bio{
        max-width: 75rem;
    }
    
    .arrow {
        width: 0rem;
        height: 0rem;
        border-width: 0 0.6rem 0.6rem 0;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        margin-left:0.5rem;
    }
    
    .item{
        margin-top:-1rem;
        margin-bottom: 1rem;
        padding: 0.4rem;
    }
    
    .itemTitle{
        font-size: 2.5rem;
    }
    
    .texto p{
        font-size: 1.8rem;
    }

    #filme{
        margin-top: 1rem;
    }
    
    .meusTrabalhos{
        font-size: 200%;
    }
    
    .lista{
        font-size: 30%;
    }
    
    .listaFilmes{
        margin-top: 1.8rem;
    }
    
    .av{
        font-size: 1.8rem;
    }

    .trabalhosWeb{
        font-size: 3rem;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .traballho{
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .listatarefas {
        margin-top: 3rem;
        font-size: 3.5rem;
        margin-bottom: -1rem;
    }

    .Lista {
        font-size:1.8rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 68%;  
    }

    #myInput {
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        margin-bottom: 1.5rem;
        font-size: 180%;
    }
    
    #butt {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        font-size: 150%;
    }
    
    li {
        margin-bottom: 0.625rem;
        font-size: 450%;
    }
    
    p {
        font-size: 1.1rem;
    }
    
    #list {
        margin-top: -8rem;
        font-size: 1.5rem;
        text-align: center;
        transform: scale(0.4);
    }

    .container-calculator{
        max-width: 100%;
        margin-left:20rem;
        
    }
    
    .flex-container-calculator{
        padding: 2rem 1.6rem 2rem 1.6rem;
        max-width: 70rem;
        margin: 0 auto;
    }
    
    .mostrador{
        width: 28rem;
        height: 2.5rem;
        margin-left: -18.5rem;
        
        font-size: 200%;
        margin-top: 3rem;
    }

    #input{
        border-radius: 1.4rem 1.4rem 0px 0px;
        padding-right: 0.5rem;
    }
    
    #resposta{
        border-radius: 0px 0px 1.4rem 1.4rem;
        margin-top: -0.5rem;
        padding-right: 0.5rem;

    }
    .botao{
        height: 4rem;
        bottom: 10px;
        font-size: 2.8rem;    
        margin-right: 0.9rem;
        margin-bottom: 0.625rem;
    }

    .Apagar {
        font-size: 2.5rem;
    }

    .Parenteses{
        font-size: 2.5rem;
    }

    .Calc {
        font-size:1.8rem;
        padding: 0.2rem;
        margin-top: 1rem;    
        margin-left: 73%; 
    }

    .contactos{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: -2rem;
        font-size: 3.5rem;
    }
    
    .info{
        margin-bottom: 0.5rem;
        margin-left: 5rem;
        font-size: 2rem;
    }
    
    .redes{
        margin: 0.50rem;
        margin-top: -2rem;
        width: 14%;
    }
}