
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

*,*:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

input[type=checkbox]
{
  -ms-transform: scale(3);
  -moz-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3); 
  transform: scale(3);
  align-content: center;
  
}

.self-clear:before, .self-clear:after{
    content:"";
    display:table;
} 

.self-clear:after{
    clear: both;
}

.self-clear{
    *zoom:1;
}

html{
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}

h1{
    font-family: 'Chilanka', cursive;
    font-size: 18.2rem;
    color: #1c6b02;
}

h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color: #fff;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #fff;
}

h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
}

h6{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #fff;
}

p{
    font-size: 2rem;
    color: #fff;
}

.container{
    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    max-width: 120rem;
    margin: 0 auto;
}

img, video, object{
    max-width: 100%;
    height: auto;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;

    padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    max-width:120rem;
    margin: 0 auto;
}

.verMais{
    display: block;
    font-size:2.5rem;
    text-align: center;
    padding:2px;
    margin-top: 7px;    
    margin-left: 90%;
    border-radius:6%;
    color:black;
    background-color: #175303;    
}

.verMais:hover{
    color:rgba(243, 243, 243, 0.952);
    background-color: #113f02;
    text-decoration: none;   
}

.anterior{
    display: block;
    font-size:2.5rem;
    text-align: center;
    padding:2px;
    margin-top: 7px;    
    margin-left: 90%;
    border-radius:6%;
    color:black;
    background-color: #175303;    
}

.anterior:hover{
    color:rgba(243, 243, 243, 0.952);
    background-color: #113f02;
    text-decoration: none;   
}

/*------------------------------------------------------------------------------------------------------------------------------------------------HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.logo{
    flex: auto;
    margin-bottom: 0.625rem;
    margin-top: 0.8125rem;
    width: 8.9rem;
}
.name{
    font-size: 19.57rem;
    margin-top: 0.9375rem;
    padding-left: 1.25rem;
    flex: auto;   
}

.naveg{
    margin-top: -7rem;
    margin-bottom: -5.3125rem;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: center;
}

.naveg ul{
    padding: 0rem 1.25rem 0.9375rem 1.25rem;
    justify-content: center;
    list-style: none;
}

.naveg ul li{
    padding: 5px 15px;
}

.naveg li a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.3rem;
    padding-left:3px;
    padding-right:2px;
    color:#1c8d02;
    margin-right: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.naveg li:last-child{
    border-right: none;
}

.naveg a.select {
    background-color: #1c4e02;
    color: #c2dbbc;
}

.naveg li a:hover {
    background-color: #9b3a3a;
    color: #c2dbbc;
}

.naveg a.icon {
    display: none;
}

/*------------------------------------------------------------------------------------------------------------------------------------------BIO-INTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bioIntro{
    flex: auto;
    padding-top: 0.625rem;
    text-align: center;
}

.bioIntro h4{
    color: #deeed9;
    text-shadow: 2px 2px rgb(0, 0, 0), 3px 3px rgb(55, 99, 35);    
}

.idade{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------AUDIOVISUAL-INTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.audivisualIntro{
    flex: auto;
    padding-top: 20px;
    text-align: center;
}

.carousel-inner{
    width: 85%;
    height: 85%;
}

.carousel-indicators{
    color:white;
}

/*----------------------------------------------------------------------------------------------------------------------------------------WEB-INTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.logos{
    width: 80%;
    height: 80%;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------BIOGRAFIA-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.container-bio{
    max-width: 75rem;
    margin: auto;
}

.arrow {
    width: 0rem;
    height: 0rem;
    border: solid rgb(129, 129, 129);
    border-width: 0 0.8rem 0.8rem 0;
    display: inline-block;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    margin-left:1rem;
    transform: translateY(2rem) rotate(180deg);
    -webkit-transform: translateY(0rem) rotate(45deg);
    transition: all .3s;
}


.item{
    flex: auto;
    padding: 0.7rem;
    color: #fff;
    cursor: pointer;
}

.itemTitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    background: #0b3b00;
}

.texto {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    background:  black;
    color: #fff;
} 

.texto p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    background:  black;
    color: #fff;
}

/*------------------------------------------------------------------------------------------------------------------------------------------AUDIOVISUAL----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#filme{
    width: 70.5rem;
    height: auto;  
    margin: auto;
    text-align: center;
}

.meusTrabalhos{
    font-size: 280%;
    font-weight: bold;
    color:#adadad
}

.lista{
    font-size: 50%;
}

.listaFilmes{
    margin-top: 1.875rem;
    padding: 0rem 1.25rem 1.875rem 1.25rem;
    justify-content: center;
}

.av{
    background-color: black;
   
    color: #1c6b02;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    border: none;
    cursor: pointer; 
}

/*------------------------------------------------------------------------------------------------------------------------------------------WEB------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.trabalhosWeb{
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 8rem;
    color: #1c6b02;
    text-align: center;
    margin-bottom: 25px;
}

.traballho{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
    text-align: center;
    color:#1c8d02;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.traballho:hover {
    color: #771313;
}

/*-------------------------------------------------------------------------------------------------------------------------------------- CONTACTOS ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contactos{
    margin: auto;
    color:#1c8d02;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5rem;
}

.info{
    color: #fff;
    margin-bottom: 20px;
    margin-left: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
}

.redes{
    align-content: center;
    margin: 1rem;
    width: 6%;
    transition: none;
}
/*------------------------------------------------------------------------------------------------ ------------------------------------- TO DO LIST ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#myInput {
    padding: 1rem;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 28rem;
    margin-bottom: 1.5rem;
    background-color: rgb(219, 219, 250);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 300%;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 30px;
}

#butt {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 250%;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 50px;
    margin-bottom: 30px;
    background-color: #175303;
    color:white;
    cursor: pointer;
}

#butt:hover{
    color:rgba(243, 243, 243, 0.856);
    background-color: #113f02;
    
}

li {
    margin-bottom: 0.625rem;
    font-size: 500%;
    font-family: Verdana, Tahoma, sans-serif;
    color:#ffffff;
}

.listatarefas {
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    color: #1c6b02;
    text-align: center;
}

p {
    font-size: 18px;
    color: #1c6b02;
}

#list {
    margin-top: -8rem;
    font-size: 1.8rem;
    text-align: center;
    transform: scale(0.5);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------CALCULADORA--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.container-calculator{
    max-width: 100%;
    margin-left:57rem;
    
}

.flex-container-calculator{
    display: flex;
    flex-flow: row wrap;

    padding: 30px 20px 30px 20px;
    max-width: 700px;
    margin: 0 auto;
}

.mostrador{
    width: 65rem;
    height: 5rem;
    margin-left: -22.5rem;
    text-align: right;
    background-color: rgb(219, 219, 250);
    font-family:'Noto Sans KR', sans-serif;
    font-size: 300%;
    font-weight: bold;
    border:none;
}

#input{
    border-radius: 20px 20px 0px 0px;
    box-shadow: 2px 2px 2px #c2dbbc;
}

#resposta{
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 2px #c2dbbc;
    color: #1e7700;
}
.botao{
	height: 6rem;
	box-sizing: border-box;
    background-color: #175a00;
    bottom: 10px;
    color: #c2dbbc;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5rem;
    cursor: pointer; 
    text-decoration: none;
    border-radius: 2%;

    margin-right: 10px;
    margin-bottom: 0.625rem;
    flex: 30%;
    border: none;
}

.botao:hover {
    background-color: #771313;
    color: #c2dbbc;
    box-shadow: 2px 2px hsla(0, 72%, 27%, 0.5);
}

.botao:active {
    box-shadow: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------- RESPONSIVE ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 992px) {

    .flex-container{
        padding: 1.875rem 1.25rem 1.875rem 1.25rem;
        max-width:120rem;
    }

    .logo{
        flex: auto;
        margin-bottom: 0.625rem;
        margin-top: 0.8125rem;
        width: 7.5rem;
    }
    .name{
        font-size: 16rem;
        margin-top: 0.9375rem;
        padding-left: 1.25rem;
        flex: auto;   
    }
    
    .naveg{
        margin-top: -7rem;
        margin-bottom: -5.3125rem;
        overflow: hidden;
        width: 100%;
        position: relative;
        text-align: center;
    }
    
    .naveg li a{
     
        font-size: 3rem;
        padding-left:2px;
        padding-right:1px;
        margin-right: 0.125rem;
    }
    
    .verMais{
        font-size:2rem;
        padding:2px;
        margin-top: 7px;    
        margin-left: 90%; 
    }

    .listatarefas {
        font-size: 8rem;
    }

    #myInput {
        font-size: 300%;
        margin-left: 150px;
    }
    
    #butt {
        font-size: 200%;
    }

    li {
        font-size: 300%;

    }
    
    .mostrador{
        width: 65rem;
        height: 5rem;
        margin-left: -22.5rem;
        text-align: right;
        background-color: rgb(219, 219, 250);
        font-family:'Noto Sans KR', sans-serif;
        font-size: 300%;
        font-weight: bold;
        border:none;
    }
    
    
}

@media (max-width: 768px) {

    .flex-container{
        padding: 1.875rem 1.25rem 1.875rem 1.25rem;
        max-width:120rem;
    }

    .logo{
        flex: auto;
        margin-bottom: 0.625rem;
        margin-top: 0.8125rem;
        width: 6rem;
    }
    .name{
        font-size: 12rem;
        margin-top: 0.9375rem;
        padding-left: 1.25rem;
        flex: auto;   
    }
    
    .naveg{
        margin-top: -6.2rem;
        margin-bottom: -5.3125rem;
        overflow: hidden;
        width: 100%;
        position: relative;
        text-align: center;
    }

    .naveg li{
        margin-bottom: -3rem;
   }
    
    .naveg li a{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 3rem;
        padding-left:2px;
        padding-right:1px;
        color:#1c8d02;
        margin-right: 0.125rem;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
    }

    .bioIntro{
        padding-top: 5rem;
    }
    
    .verMais{
        font-size:1.7rem;
        padding:2px;
        margin-top: 7px;    
        margin-left: 90%;
        border-radius:6%;   
    }
    
    .trabalhosWeb{
        font-size: 6rem;
        margin-top: 3.5rem;
        margin-bottom: 1rem;
    }

    .traballho{
        font-size: 3.8rem;
        margin-bottom: 1rem;
    }

    .mostrador{
        width: 65rem;
        height: 5rem;
        margin-left: -22.5rem;
        text-align: right;
        background-color: rgb(219, 219, 250);
        font-family:'Noto Sans KR', sans-serif;
        font-size: 300%;
        font-weight: bold;
        border:none;
    }
    
}

@media (max-width: 576px) {

    .flex-container{
        padding: 1.875rem 1.25rem 1.875rem 1.25rem;
        max-width:120rem;
    }

    h4{
        font-size: 3.5rem;
    }
    
    h5{
        font-size: 2.5rem;
    }

    .logo{
        flex: auto;
        margin-bottom: 0.625rem;
        margin-top: 0.8125rem;
        width: 4.4rem;
    }
    .name{
        font-size: 8.7rem;
        margin-top: 0.9375rem;
        padding-left: 1.25rem;
        flex: auto;   
    }
    
    .naveg{
        margin-top: -6.2rem;
        margin-bottom: -5.3125rem;
        width: 100%;
        position: relative;
        text-align: center;
    }

    .naveg li{
        margin-top: 2.5rem;
        
   }
    
    .naveg li a{
        font-size: 2.5rem;
        padding-left:2px;
        padding-right:1px;
        margin-right: 0.125rem;
    }

    .bioIntro{
        padding-top: 5rem;
    }
    
    .verMais{
        font-size:2rem;
        padding:2px;
        margin-top: 7px;    
        margin-left: 83%;
        border-radius:6%;   
    }

    .container-bio{
        max-width: 75rem;
    }
    
    .arrow {
        width: 0rem;
        height: 0rem;
        border-width: 0 0.4rem 0.4rem 0;
        padding: 0.8rem;
        margin-bottom: 0.5rem;
        margin-left:0.5rem;
    }
    
    .item{
        margin-top:3rem;
        margin-bottom: -3rem;
        padding: 0.4rem;
    }
    
    .itemTitle{
        font-size: 2.4rem;
        text-align: center;
    }
    
    .texto {
        font-size: 1rem;
    } 
    
    .texto p{
        font-size: 2rem;
    }

    #filme{
        margin-top: 5rem;
    }
    
    .trabalhosWeb{
        font-size: 4.5rem;
        margin-top: 3.5rem;
        margin-bottom: 1rem;
    }

    .traballho{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .listatarefas {
        margin: auto;
        font-size: 8rem;
        text-align: center;
    }

    #myInput {
        font-size: 250%;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-left: 7.5rem;
        border-radius: 50px;
        margin-bottom: 1.5rem;
    }
    
    #butt {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 150%;
        border-radius: 50px;
        margin-bottom: 30px;
    }

    .Lista {
        font-size:130%;
        text-align: center;
        padding:0.5rem;
        margin-top: 1rem;    
        margin-left: 80%;
        border-radius:4%;
    }

    li {
        margin-bottom: 0.625rem;
        font-size: 250%;
    }
    
    #list {
        margin-top: -10rem;
        font-size: 4rem;
        text-align: center;
        transform: scale(0.4);
    }

    .listatarefas {
        margin-top: 3rem;
        font-size: 5rem;
    }

    /* #resposta{
        background-color: #1c4e02;
    } */

    .container-calculator{
      margin-top: 5rem;
      margin-left:8rem;
      max-width: 50%;
    }

    .mostrador{
        width: 48.5rem;
        height: 4rem;
        margin-left: -5.7rem;
        font-size: 270%;
    }

    .botao{
	    height: 3.8rem;
	    box-sizing: border-box;
        bottom: 10px;
        text-align: center;
        font-size: 3rem;
        margin-right: 10px;
        margin-bottom: 0.625rem;
        flex: 25%;
}

    .Apagar {
        font-size: 2.3rem;
    }

    .Parenteses{
        font-size: 2.3rem;
    }

    .Calc {
        font-size: 180%;
        text-align: center;
        padding:0.5rem;
        margin-top: 1rem;    
        margin-left: 80%;
        border-radius:4%;
    }

    .contactos{
        margin: auto;
        margin-top: 4rem;
        font-size: 3rem;
    }
    
    .info{
        margin-bottom: 20px;
        margin-left: 100px;
        font-size: 2.5rem;
    }
    
    .redes{
        margin: 1rem;
        margin-top:-8rem;
        width: 9%;
    }
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/